---
import Layout from "../../layouts/Layout.astro";

import { teamData } from "../../data/fr/teamData";
import { socialData } from "../../data/fr/socialData";

import concept from "../../assets/pictures/concept-section.png";
import offer from "../../assets/pictures/solution-section.png";
import banner from "../../assets/background/web3_communities.jpeg";

import Showcase from "../../components/sections/Showcase.astro";
import Flex from "../../components/sections/Flex.astro";
import Text from "../../components/sections/Text.astro";
import Cta from "../../components/sections/Cta.astro";
import Banner from "../../components/common/Banner.astro";
import Button from "../../components/common/Button.astro";
import TeamWrapper from "../../components/wrappers/TeamWrapper.astro";
import SocialWrapper from "../../components/wrappers/SocialWrapper.astro";
---

<Layout page="home" title="Kodao.io" fr={true}>
  <Showcase
    title="Impliquez votre communauté via le Web3"
    description="Des possibilités infinies vous attendent"
    btnText="Demandez une démo"
    btnHref="/fr/contact"
    downText="Découvrir"
  />
  <a class="anchor" id="concept"></a>
  <Flex
    title="concept"
    heading="L'avenir de l'engagement communautaire"
    description="La technologie de la blockchain et des NFTs donnent beaucoup plus de liberté et de pouvoir aux utilisateurs, créant ainsi une nouvelle manière d'échanger et de collaborer entre les organisations et leur communauté.."
    white={true}
    image={concept}
    items={[
      "Créez vos collections de NFTs et vendez les à votre audience",
      "Donnez leur des accès et des droits exclusifs pour en faire des membres",
      "Récompensez vos membres les plus impliqués",
      "Récompensez vos membres les plus impliqués",
    ]}
    btnHref="/fr/concept"
    btnText="Découvrez notre Concept"
  />
  <Flex
    title="offres"
    heading="Kodao.io vous accompagne dans la création et le développement de votre projet Web3"
    description="Démarrer un projet web3 peut faire peur car les outils et la technologie évoluent à un rythme très élevé. Chez Kodao.io, notre objectif est de vous aider à vous lancer dans les meilleures conditions possibles."
    image={offer}
    reversed={true}
    items={[
      "Proposez une expérience unique aux membres de votre communauté avec le Web3.",
      "Pour un démarrage simple et efficace, optez pour une solution clé en main avec le Web3 Starter Pack.",
      "Développez votre écosystème Web3 personnalisé avec nos services sur mesure.",
      "Bénéficiez d'un accompagnement personnalisé tout au long du projet.",
    ]}
    btnHref="/fr/concept"
    btnText="Découvrez nos Offres"
  />
  <Text
    title="Lancez-vous !"
    heading="Est-ce que le Web3 est fait pour moi?"
    background="white"
  >
    <p>
      Que vous soyez une <b>entreprise, une association</b> ou bien
      <b>un créateur de contenu</b>, de nombreuses opportunités s'offrent à vous
      grâce au Web3. Avec à Kodao.io,
      <b
        >vous pouvez désormais adopter cette révolution technologique sans vous
        soucier des aspects techniques.</b
      >
    </p>
    <br />
    <p>
      Si vous avez <b>déjà créé un token ou un projet NFT</b> et souhaitez désormais
      <b>donner plus utilité à votre communauté</b> nous pouvons vous aider à faire
      passer votre projet au niveau supérieur !
    </p>
    <Button btnText="C'est parti !" btnHref="/fr/contact" type="cta" />
  </Text>
  <Banner img={banner} />
  <TeamWrapper teamMembers={teamData}>
    <Text
      heading="Une équipe spécialisée et passionnée par le Web3"
      background="transparent"
    >
      <p>
        Kodao.io a été créé en 2021 après avoir constaté une incompréhension de
        l'environnement Web3. Nous avons décidé de créer <b
          >une agence de développement web et de conseils</b
        > afin d'aider les organisations et les créateurs à passer du système traditionnel
        à un nouveau <b>système innovant et décentralisé</b>.
      </p>
      <p>
        Nous apporterons notre expertise dans tous les aspects de votre projet
        Web3.
      </p>
    </Text>
  </TeamWrapper>
  <Cta
    title="Une Question ? Consultez notre FAQ !"
    btnText2="Voir la FAQ"
    btnHref2="/fr/faq"
    white={true}
    text="Le Web3, la blockchain, les NFTs, que signifient ces termes et sont-ils vraiment utiles pour votre organisation ? On y répond dans la FAQ !"
  />
  <SocialWrapper
    title="Rejoignez la communauté Kodao et découvrez le monde du Web3 !"
    socialItems={socialData}
  />
  <Cta
    title="Pret à vous lancer dans le Web3 ?"
    btnText="C'est parti !"
    btnHref="/fr/offres"
    paddingTop={true}
    text="Kodao.io vous vous accompagne dans toutes les étapes de votre projet"
  />
</Layout>
