---
import Button from "../common/Button.astro";

export interface Props {
  title: string;
  text: string;
  btnText?: string;
  btnHref?: string;
  btnText2?: string;
  btnHref2?: string;
  white?: boolean;
  paddingTop?: boolean;
}

const {
  title,
  text,
  btnText,
  btnHref,
  btnText2,
  btnHref2,
  white = false,
  paddingTop = false,
} = Astro.props;
---

<section
  class={white ? "section section--white" : "section"}
  style={paddingTop ? "padding-top: 150px" : ""}
>
  <div class="container">
    <div class="cta">
      <div class="cta_text">
        <h2 class="cta_title">{title}</h2>
        <p>{text}</p>
      </div>
      <div class="cta_btn">
        {
          btnText2 && (
            <Button btnHref={btnHref2} btnText={btnText2} type="primary" />
          )
        }
        {btnText && <Button btnHref={btnHref} btnText={btnText} type="cta" />}
      </div>
    </div>
  </div>
</section>

<style>
  .cta {
    display: grid;
    width: 80%;
  }

  .cta_title {
    padding-bottom: 10px;
  }
  .cta--grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cta--inverse {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .cta_text {
    text-align: center;
  }
  .cta--grid .cta_text,
  .cta--inverse .cta_text {
    text-align: left;
  }

  .cta_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }

  .cta_btn--col {
    flex-direction: column;
  }

  @media (max-width: 800px) {
    .cta {
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .cta {
      grid-template-columns: 1fr;
      grid-gap: 0;
      text-align: center;
    }
    .cta_btn {
      flex-direction: column;
      order: 1;
      padding: 0;
    }
  }
  @media (max-width: 615px) {
    .cta_text {
      text-align: center;
    }
  }
</style>
