---
import Button from "../common/Button.astro";
import line from "../../assets/formes/Ligne-purple.png";

export interface Props {
  title: string;
  description: string;
  btnText: string;
  btnHref: string;
  btnText2?: string;
  btnHref2?: string;
  downText: string;
}
const { title, description, btnText, btnHref, btnText2, btnHref2, downText } =
  Astro.props;
---

<section class="section showcase">
  <div class="wrapper">
    <div class="container">
      <div class="showcase_text">
        <h1
          class="showcase_title"
          data-aos="zoom-in-down"
          data-aos-duration="1000"
        >
          {title}
        </h1>
        <p
          class="showcase_subtitle"
          data-aos="flip-left"
          data-aos-duration="1000"
        >
          {description}
        </p>
        <div class="hero_line">
          <img class="hero_line" src={line} alt="web3 communities" />
        </div>
        <div class="cta_btn">
          <Button btnHref={btnHref} btnText={btnText} type="hero" />
          {
            btnText2 && (
              <Button btnHref={btnHref2} btnText={btnText2} type="primary" />
            )
          }
        </div>
      </div>
    </div>
  </div>

  <a href="#concept" class="discover">
    <b>{downText}</b>
  </a>
  <a href="#concept">
    <i class="fa-solid fa-angle-down arrow arrow--discover"></i>
  </a>
</section>

<style>
  .showcase {
    padding-top: 0;
    min-height: 100vh;
    background-image: linear-gradient(#330656, rgba(0, 0, 0, 0));
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.05)),
      url("../../assets/background/web3_kodao.jpeg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
  }

  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
  }

  .showcase_text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero_line {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
    pointer-events: none;
    margin: 10px auto;
  }
  .hero_line img {
    object-fit: fill;
  }
  .showcase_subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
    padding: 40px 0 0;
  }

  .showcase_line {
    width: 50%;
  }
  .cta_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 14px;
  }
  .discover {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin: auto;
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
  }

  .arrow--discover {
    position: absolute;
    animation: jumpInfinite 1.2s infinite;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 2rem;
  }

  #topBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
    font-size: 18px;
    border: 2px solid white;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 20px;
    border-radius: 4px;
  }

  #topBtn:hover {
    background-color: var(--accent-color);
  }

  @keyframes jumpInfinite {
    0% {
      bottom: 8%;
    }
    50% {
      bottom: 5%;
    }
    100% {
      bottom: 8%;
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scale(95%);
    }
    50% {
      transform: scale(110%);
    }
    100% {
      transform: scale(95%);
    }
  }
  @media (max-width: 340px) {
    .showcase_subtitle {
      padding: 20px 0;
    }
    .discover {
      display: none;
    }
  }
</style>
