---
import Layout from "../layouts/Layout.astro";

import { conceptData } from "../data/conceptData";

import info from "../assets/Illustrations/infographie_web3_en.svg";
import web3 from "../assets/background/web3_kodao.jpeg";

import Hero from "../components/sections/Hero.astro";
import Flex from "../components/sections/Flex.astro";
import Text from "../components/sections/Text.astro";
import Cta from "../components/sections/Cta.astro";
import Banner from "../components/common/Banner.astro";
import ConceptWrapper from "../components/wrappers/ConceptWrapper.astro";
---

<Layout title="Kodao.io - Concept" page="concept">
  <Hero title="A unique experience for you and your community" page="concept" />
  <Flex
    title="The Web3"
    heading="From consumer to co-owner"
    white={true}
    image={info}
    bold={false}
    items={[
      "Web 1.0 was about posting content online.",
      "Web 2.0 has allowed communities to interact with brands or creators through social platforms (Youtube, Instagram, Twitter, etc.).",
      "With Web 3.0 it is now possible to own your data and to hold digital assets (NFT) that can represent membership in a community and that gives the ability to prove the authenticity of this ownership. Thus, it offers an alternative to the centralized models dictated by social platforms, reducing the power of these intermediaries and redistributing it to creators and their communities.",
    ]}
  />
  <a class="anchor" id="concept"></a>
  <Text title="Concept" heading="The future of community involvement">
    <p>
      Members of a community can now become financially and emotionally involved
      around the same project, in a totally secure and decentralized way.
      Discover a new way to interact with your community with the Web3.
    </p>
  </Text>
  <ConceptWrapper conceptItems={conceptData} />
  <Cta
    title="Kodao.io helps you get started in Web3!"
    btnText="Discover our offers"
    btnHref="/offers"
    btnText2="Contact us"
    btnHref2="/contact"
    background="white"
    text="The Web3 allows to give much more freedom and and power to end users, creating an infinite number of possibilities for organizations and their communities. It's time to build, sell, innovate and share ! Get started with web3 now!"
  />
  <Banner img={web3} />
  <Cta
    title="Any questions? Check out our FAQ!"
    btnText2="Check out our FAQ!"
    btnHref2="/faq"
    text="Web3, blockchain, NFTs, what do these terms mean and are they really useful for your organization ? We answer to that in the FAQ!"
  />
</Layout>
