---
import Layout from "../layouts/Layout.astro";

import { teamData } from "../data/teamData";
import { socialData } from "../data/socialData";

import concept from "../assets/pictures/concept-section.png";
import offer from "../assets/pictures/solution-section.png";
import banner from "../assets/background/web3_communities.jpeg";

import Showcase from "../components/sections/Showcase.astro";
import Flex from "../components/sections/Flex.astro";
import Text from "../components/sections/Text.astro";
import Cta from "../components/sections/Cta.astro";
import Banner from "../components/common/Banner.astro";
import Button from "../components/common/Button.astro";
import TeamWrapper from "../components/wrappers/TeamWrapper.astro";
import SocialWrapper from "../components/wrappers/SocialWrapper.astro";
---

<Layout page="home" title="Kodao.io">
  <Showcase
    title="Involve your community through Web3"
    description="Endless possibilities are waiting for you"
    btnText="Book a Demo"
    downText="Discover"
  />
  <a class="anchor" id="concept"></a>
  <Flex
    title="concept"
    heading="The future of community involvement"
    description="Blockchain technology and NFTs allow more freedom and power to end users, creating a new way of interaction and collaboration between organizations and their community."
    white={true}
    image={concept}
    items={[
      "Create and sell your digital art (NFT) to your audience",
      "Grant exclusive access and rights to make them members",
      "Co-create to involve them in your project",
      "Reward your most engaged members",
    ]}
    btnHref="./offers.html"
    btnText="Discover our concept"
  />
  <Flex
    title="offers"
    heading="Kodao.io helps you create and develop your Web3 project"
    description="Starting a web3 project can be frightening as the tools and the technology evolve at a very high pace. At Kodao.io, our goal is to help you get started in the best possible conditions.."
    image={offer}
    reversed={true}
    items={[
      "Offer a unique experience to your community members with the power of Web3",
      "For a simple and efficient start, opt for a turnkey solution with the Web3 Starter Pack",
      "Develop your own Web3 ecosystem with our ailor-made services",
      "Get a custom support throughout the creation of your project.",
    ]}
    btnHref="./concept.html"
    btnText="Discover our offers"
  />
  <Text title="Let's get started" heading="Is Web3 for you?" background="white">
    <p>
      Whether you are <b>a company, a content creator or an association</b>,
      many opportunities are now available for you through Web3. With Kodao.io,
      you can now <b>adopt this technological revolution</b> without having to worry
      about the technical aspects!
    </p>
    <p>
      If you have <b>already created a token or an NFT project</b> and want to <b
        >give more utilities to your community</b
      > we can help you take your project to the next level!
    </p>
    <Button btnText="Let's go!" btnHref="/contact.html" type="cta" />
  </Text>
  <Banner img={banner} />
  <TeamWrapper teamMembers={teamData}>
    <Text
      heading="A specialized team passionate about Web3!"
      background="transparent"
    >
      <p>
        Kodao.io was created in 2021 after having noticed a lack of
        understanding of the Web3 environment. We decided to create <b>
          a web development and consulting agency</b
        > in order to help organizations and creators to move from the traditional
        system to a new
        <b>innovative and decentralized one</b>.
      </p>
      <p>We will bring our expertise in all aspects of your Web3 project.</p>
    </Text>
  </TeamWrapper>
  <Cta
    title="Any questions? Check out our FAQ!"
    btnText2="Check out our FAQ!"
    btnHref2="/faq.html"
    white={true}
    text="Web3, blockchain, NFTs, what do these terms mean and are they really useful for your organization ? We answer to that in the FAQ!"
  />
  <SocialWrapper
    title="Join the Kodao community and discover the Web3 World"
    socialItems={socialData}
  />
  <Cta
    title="Ready to get started with Web3?"
    btnText="Let's go!"
    btnHref="/offers.html"
    paddingTop={true}
    text="Kodao.io supports you in all the steps of your project"
  />
</Layout>
