---
import Layout from "../layouts/Layout.astro";

import concept from "../assets/pictures/concept-section.png";
import offer from "../assets/pictures/solution-section.png";
import banner from "../assets/background/web3_communities.jpeg";
import mathieu from "../assets/team/mathieu_fontaine.jpeg";
import luca from "../assets/team/luca_venditto.jpeg";
import discord from "../assets/pictures/private-discord.jpeg";
import kodao from "../assets/logo/logo.ico";

import Showcase from "../components/sections/Showcase.astro";
import Flex from "../components/sections/Flex.astro";
import Text from "../components/sections/Text.astro";
import Cta from "../components/sections/Cta.astro";
import CardTeam from "../components/cards/CardTeam.astro";
import CardBox from "../components/cards/CardBox.astro";
---

<Layout page="home" title="Kodao.io">
  <Showcase
    title="Involve your community through Web3"
    description="Endless possibilities are waiting for you"
    ctaText="Book a Demo"
    downText="Discover"
  />
  <a class="anchor" id="concept"></a>
  <Flex
    title="concept"
    heading="The future of community involvement"
    description="Blockchain technology and NFTs allow more freedom and power to end users, creating a new way of interaction and collaboration between organizations and their community."
    white={true}
    image={concept}
    items={[
      "Create and sell your digital art (NFT) to your audience",
      "Grant exclusive access and rights to make them members",
      "Co-create to involve them in your project",
      "Reward your most engaged members",
    ]}
  >
    <a href="./offers.html" class="button button--flex" type="button">
      <span class="button_text">Discover our offers</span>
    </a>
  </Flex>
  <Flex
    title="offers"
    heading="Kodao.io helps you create and develop your Web3 project"
    description="Starting a web3 project can be frightening as the tools and the technology evolve at a very high pace. At Kodao.io, our goal is to help you get started in the best possible conditions.."
    image={offer}
    reversed={true}
    items={[
      "Offer a unique experience to your community members with the power of Web3",
      "For a simple and efficient start, opt for a turnkey solution with the Web3 Starter Pack",
      "Develop your own Web3 ecosystem with our ailor-made services",
      "Get a custom support throughout the creation of your project.",
    ]}
  >
    <a href="./concept.html" class="button button--flex" type="button">
      <span class="button_text">Discover our offers</span>
    </a>
  </Flex>
  <Cta
    title="New to Web3?"
    btnText="Let's go!"
    btnHref="/contact.html"
    white={true}
  >
    <p>
      Whether you are <b>a company, a content creator or an association</b>,
      many opportunities are now available for you through Web3. With Kodao.io,
      you can now <b>adopt this technological revolution</b> without having to worry
      about the technical aspects!
    </p>
    <p>
      If you have <b>already created a token or an NFT project</b> and want to <b
        >give more utilities to your community</b
      > we can help you take your project to the next level!
    </p>
  </Cta>
  <div class="banner">
    <img src={banner} alt="web3_kodao" />
  </div>
  <section class="section section--about">
    <div class="container">
      <Text heading="A specialized team passionate about Web3!">
        <p>
          Kodao.io was created in 2021 after having noticed a lack of
          understanding of the Web3 environment. We decided to create <b>
            a web development and consulting agency</b
          > in order to help organizations and creators to move from the traditional
          system to a new
          <b>innovative and decentralized one</b>.
        </p>
        <p>We will bring our expertise in all aspects of your Web3 project.</p>
      </Text>
      <div class="cardTeam_container">
        <CardTeam
          name="Mathieu F."
          role="Co-founder / Web Developer"
          img={mathieu}
          social={[
            { href: "https://twitter.com/ftn_mathieu", icon: "fa-twitter" },
            { href: "https://github.com/mathieufontaine", icon: "fa-github" },
            {
              href: "https://www.linkedin.com/in/mathieu-fontaine/",
              icon: "fa-linkedin-in",
            },
          ]}
        />
        <CardTeam
          name="Luca V."
          role="Co-founder / Business Developer"
          img={luca}
          social={[
            { href: "https://twitter.com/kodao_io", icon: "fa-twitter" },
            {
              href: "https://discord.com/channels/@me/989482629118181436",
              icon: "fa-discord",
            },
            {
              href: "https://www.linkedin.com/in/luca-venditto/",
              icon: "fa-linkedin-in",
            },
          ]}
        />
      </div>
    </div>
  </section>
  <Cta
    title="Any questions? Check out our FAQ!"
    btnText="Check out our FAQ!"
    btnHref="/faq.html"
    white={true}
  >
    <p>
      Web3, blockchain, NFTs, what do these terms mean and are they really
      useful for your organization ? We answer to that in the FAQ!
    </p>
  </Cta>

  <section class="section section--blue">
    <div class="container">
      <h3>Join the Kodao community and discover the Web3 World</h3>
      <div class="box_container">
        <CardBox
          href="https://discord.gg/BXtp6szz7C"
          title="Discord Community"
          description="Join the Kodao community on Discord, introduce yourself and meet other Web3 enthusiasts!"
          img={discord}
          cta="Join Now"
        />
        <CardBox
          href="https://blog.kodao.io"
          title="Kodao Blog"
          description="Check out our blog about Web3 and learn more about this technological revolution."
          img={kodao}
          cta="Visit Now"
          primary={true}
        />
      </div>
    </div>
  </section>
  <Cta
    title="Ready to get started with Web3?"
    btnText="Let's go!"
    btnHref="/offers.html"
    paddingTop={true}
  >
    <p>Kodao.io supports you in all the steps of your project</p>
  </Cta>
</Layout>
