---
import Footer from "../components/common/Footer.astro";
import Navbar from "../components/common/Navbar.astro";
import "../styles/global.css";

export interface Props {
  page: string;
  title: string;
  fr?: boolean;
}

const { page, title, fr = false } = Astro.props;
---

<!DOCTYPE html>
<html lang={fr ? "fr" : "en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content={fr
        ? "Kodao.io - Agence Web3 de Conseil & Développement Web"
        : "Web3 Consulting and Development Agency"}
    />
    <meta property="og:site_name" content="Kodao.io" />
    <meta
      property="og:description"
      content={fr
        ? "Nous accompagnons les organisations dans leur transition vers le Web3"
        : "We support organisations in their transition to Web3"}
    />
    <meta
      property="og:image"
      content="https://www.kodao.io/assets/pictures/web3-faq.jpeg"
    />
    <meta property="og:url" content="https://www.kodao.io" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Javascript -->
    <script
      src="https://kit.fontawesome.com/39251cc2ac.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/menu.js"></script>
    <title>{title}</title>
  </head>

  <body>
    <Navbar fr={fr} page={page} />
    <slot />
    <Footer fr={fr} />
    <script>
      import AOS from "aos";
      import "aos/dist/aos.css";

      AOS.init();

      //* Go to top button //
      const topBtn = document.getElementById("topBtn");
      topBtn.addEventListener("click", topFunction);

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 2000 ||
          document.documentElement.scrollTop > 2000
        ) {
          topBtn.style.display = "block";
        } else {
          topBtn.style.display = "none";
        }
      }
    </script>
  </body>
</html>
